*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Gurmukhi Sangam MN", sans-serif;
  line-height: 1.5;
  color: darkblue;
  font-size: xx-large;
  background: lightskyblue;
}

a{
  color: white;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

/*.btn {*/
  /*display: inline-block;*/
  /*border: blue;*/
  /*background: #555555;*/
  /*color: #ffffff;*/
  /*padding: 20px 20px;*/
  /*cursor: pointer;*/
/*}*/

/*.btn:hover {*/
  /*background: #666666;*/
/*}*/

button{
  padding: 4px;
  color: darkblue;
  background: white;
  font-size: medium;
  font-family: "Gurmukhi Sangam MN", sans-serif;
  border-color: darkblue;
  border-radius: 2mm;
}
